parameters:
    level: 5

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false

    paths:
        - application
        - library

    scanDirectories:
        - vendor

    universalObjectCratesClasses:
        - Icinga\Web\View
