name: CI

on:
  push:
    branches:
      - main
      - support/*
  pull_request:
    branches:
      - main

jobs:
  php:
    name: PHP
    uses: Icinga/github-actions/.github/workflows/php.yml@main